{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
      },
    ],
  ],
  "plugins": [
    ["module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
